<beans xmlns="http://www.springframework.org/schema/beans"
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">

	<bean id="CallBatchDAO" class="mx.wiri.giro.batch.dao.impl.CallBatchDAOImpl">
		<property name="dataSource" ref="dataSource" />
	</bean>

	<bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="location">
			<value>config.properties</value>
		</property>
	</bean>

</beans>